<ion-view view-title="{{infos.title}}">
  <ion-content>
	<div class="list card">
		<div class="item item-thumbnail-left">
			<img ng-src="{{infos.image}}">
			<i class="button button-icon icon ion-star button-right" ng-show="infos.favorite"></i>
			<h2 class="center"> Title : {{infos.title}}</h2>
			<p>Visited : {{infos.check}}</p>

		</div>
		<div class="item item-button-right">
			<p><i class="icon ion-location"></i>{{infos.location}}</p>
			<button class="button button-positive" ng-click="editL()">
      			Edit
    		</button>
		</div>
		<div class="item item-select">
			<p><b>Type :</b></p>
			<select ng-model="infos.type">
      			<option selected></option>
            <option>Town</option>
      			<option>Rooftop</option>
      			<option>Factory</option>
      			<option>Abandonned House</option>
      			<option>Castle</option>
    		</select>
		</div>
		<div class="item item-select">
			<p><b>Site Conditions :</b></p>
			<select ng-model="infos.siteconditions">
      			<option selected></option>
      			<option>Destroyed</option>
      			<option>In Ruins</option>
      			<option>Debilitated</option>
      			<option>Unchanged</option>
      			<option>In Reconstruction</option>
    		</select>
		</div>
		<div class="item item-button-right">
			<p><b>Commentaire :</b> {{infos.comment}}</p>
			<button class="button button-positive" ng-click="editC()">
      			Edit
    		</button>
		</div>
		<div class="item item-toggle">
         Favorited
         <label class="toggle toggle-energized">
             <input type="checkbox" ng-model="infos.favorite" ng-click="favorited()">
             <div class="track">
                 <div class="handle"></div>
             </div>
         </label>
    	</div>
      <div class="item item-icon-left">
        <i class="icon ion-image"></i>
        <input type="file" accept="image/*" capture="camera" id="file-upload">
      </div>
      <div class="item item-image">
        <img ng-src="{{infos.image}}">
      </div>
      <div class="item item-image" sg-show="infos.image != ''">
        <button class="button button-assertive button-small" ng-click="deleteImg()">Delete Image</button>
      </div>
	  </div>
  </ion-content>
</ion-view>